VERIFY_TOKEN=
WHATSAPP_TOKEN=
HTTP_SERVER_ADDRESS=

# ------- CHAT GPT Configuration
OPENAI_API_KEY=
OPENAI_GPT_MODEL_NAME=
OPENAI_GPT_MODEL_TOKEN=
OPENAI_GPT_MODEL_TEMPERATURE=
OPENAI_GPT_MODEL_TOP_P=
OPENAI_GPT_MODEL_PENALTY_PRESENCE=
OPENAI_GPT_MODEL_PENALTY_FREQUENCY=
# ------- End

LEONARDO_API_KEY=

DREAMSHAPER_V6=
LEONARDO_CREATIVE=
LEONARDO_SELECT=
LEONARDO_SIGNATURE=

DREAMSHAPER_TAG=/image1
CREATIVE_TAG=/image2
SELECT_TAG=/image3
SIGNATURE_TAG=/image4

WHATSAPP_DELETE_CONVERSATION=/delete
WHATSAPP_NEW_CONVERSATION=/new

DB_SOURCE=
DB_DRIVER=mysql
